<label> {% if quote.code == code or not code %}
        {% set code = quote.code %}
        <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked"/>
    {% else %}
        <input type="radio" name="shipping_method" value="{{ quote.code }}"/>
    {% endif %}
    {{ quote.title }} - {{ quote.text }}
    {% if quote['boxberry_html'] is defined %}
        <br>{{ quote['boxberry_html'] }}
    {% endif %}
</label>
